/*bars rotating in shm loader-5 */
.loader-wrapper2{
    background:rgba(0, 0, 0, 0.3);
    z-index:9999;
    width: 10%;
    height: 50px;
    margin:0;
    padding:0;
}

.loader5 .loader{
	position: relative;
	top:45%;
	left: 50%;
	z-index: 2;
	background: black;
	height: 0.4vw;
	width: 2.4vw;
	margin:0.4vw;
	-webkit-animation: shm 1.15s 0s infinite ease-in-out;
	-moz-animation: shm 1.15s 0s infinite ease-in-out;
	-o-animation: shm 1.15s 0s infinite ease-in-out;
		animation: shm 1.15s infinite ease-in-out;
}


.loader5 .loader:before{
	content: "";
	position: absolute;
	background: black;
	top:-20px;
	left:-0.5vw;
	height: 0.4vw;
	width: 2.4vw;
	margin:0.4vw;
	-webkit-animation: glide 1.15s 0s infinite ease-in-out;
	-moz-animation: glide 1.15s 0s infinite ease-in-out;
	-o-animation: glide 1.15s 0s infinite ease-in-out;
		animation: glide 1.15s 0s infinite ease-in-out;
}


.loader5 .loader:after{
	background: black;
	content: "";
	position: absolute;
	bottom: -20px;
	left:-0.5vw;
	height: 0.4vw;
	width: 2.4vw;
	margin:0.4vw;
	-webkit-animation: glide 1.15s 0s infinite ease-in-out reverse;
	-moz-animation: glide 1.15s 0s infinite ease-in-out;
	-o-animation: glide 1.15s 0s infinite ease-in-out;
		animation: glide 1.15s 0s infinite ease-in-out reverse;
}


/*keyframes shm and glide */


@-webkit-keyframes shm {
	0%{ 
		transform:translateX(50px);
	}
	50%{ 
		transform:translateX(-50px);
	}
	100%{ 
		transform:translateX(50px);
	}
}

@-moz-keyframes shm {
	0%{ 
		transform:translateX(50px);
	}
	50%{ 
		transform:translateX(-50px);
	}
	100%{ 
		transform:translateX(50px);
	}
}


@-o-keyframes shm {
	0%{ 
		transform:translateX(50px);
	}
	50%{ 
		transform:translateX(-50px);
	}
	100%{ 
		transform:translateX(50px);
	}
}

@keyframes shm {
	0%{ 
		transform:translateX(50px);
	}
	50%{ 
		transform:translateX(-50px);
	}
	100%{ 
		transform:translateX(50px);
	}
}

@-webkit-keyframes glide {
	0%{ 
		transform:rotate(0deg);
	}
	50%{ 
		transform:rotate(180deg);
	}
	100%{ 
		transform:rotate(360deg);
	}
}


@-moz-keyframes glide {
	0%{ 
		transform:rotate(0deg);
	}
	50%{ 
		transform:rotate(180deg);
	}
	100%{ 
		transform:rotate(360deg);
	}
}


@-o-keyframes glide {
	0%{ 
		transform:rotate(0deg);
	}
	50%{ 
		transform:rotate(180deg);
	}
	100%{ 
		transform:rotate(360deg);
	}
}


@keyframes glide {
	0%{ 
		transform:rotate(0deg);
	}
	50%{ 
		transform:rotate(180deg);
	}
	100%{ 
		transform:rotate(360deg);
	}
}
